build/*
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.c
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/24dian.dir/24dian.cpp.o
build/CMakeFiles/24dian.dir/24dian.o
build/CMakeFiles/24dian.dir/build.make
build/CMakeFiles/24dian.dir/cmake_clean.cmake
build/CMakeFiles/24dian.dir/CXX.includecache
build/CMakeFiles/24dian.dir/depend.internal
build/CMakeFiles/24dian.dir/depend.make
build/CMakeFiles/24dian.dir/DependInfo.cmake
build/CMakeFiles/24dian.dir/flags.make
build/CMakeFiles/24dian.dir/link.txt
build/CMakeFiles/24dian.dir/progress.make
build/CMakeFiles/3.13.2/CMakeCCompiler.cmake
build/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.13.2/CMakeSystem.cmake
build/CMakeFiles/3.13.2/CompilerIdC/a.out
build/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.13.2/CompilerIdCXX/a.out
build/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
oj.dSYM/Contents/Resources/DWARF/oj
oj.dSYM/*
